<link href='http://fonts.googleapis.com/css?family=Berkshire+Swash:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Molle:400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">


</head>

<div data-role="header">
  <h1 class="logo">
    <h3 id = "subhead">Teach Me</h3>
  </h1>
</div>

<center>
	<h1 class="logo">
		How <span class="red_header">2</span> Draw
	</h1>
<center>

<p id = "calltoaction"> Choose your drawing level</p>

<div data-role="content">
  <ul data-role="listview">
	<% @possible_skills.each do |s| %>
     <li>
		 <%= image_tag("#{s.name.downcase}.png", :height => '38', :width => '38', :class => 'skill_icon') %>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <%= link_to s.name, :controller => "skills", :action => "select_category", :id => s.id %>
	 </li>
	<% end %>
		<li><%= image_tag("demo.jpg", :height => '38', :width => '38', :class => 'skill_icon') %>
					 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= link_to "Watch Demo", "http://how2draw.herokuapp.com/demo" %>
		</li>
		<li><%= image_tag("demo.jpg", :height => '38', :width => '38', :class => 'skill_icon') %>
					 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= link_to "Watch Demo 2", { :controller=>"skills", :action=>"demo" }, :target => "_blank" %>
		</li>
  </ul>
</div>

<%# link_to "Add skill", new_skill_path, "data-icon" => "plus", "class" => "ui-btn-right" %>


<small>Created by Nick Powell 2013</small>