<div data-role="header">
	
	<div class="home_button">
		<%= link_to "Home", root_url %>
	</div>	
	
    <h2 class="logo">
    	How &nbsp;<span class="red_header">2</span> &nbsp;Draw
    </h2>
</div>

<h3 class="mleft">
  <%= session[:users_skill_level] %> / <%= session[:users_category].name %>
</h3>

<h3>&nbsp;&nbsp;&nbsp;What would you like to draw?</h3>

<div data-role="content">
  <ul data-role="listview">
    <% @subcategories.each do |c| %>
    <li>
  	  <%= image_tag("#{session[:users_skill_level].downcase}.png", options = {:height => '38', :width => '38', :class => 'skill_icon'} ) %>	  
	  <%= image_tag("#{session[:users_category].name.downcase}.png", options = {:height => '38', :width => '38', :class => 'category_icon'} ) %>	 	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <%= link_to c.name, :controller => "skills", :action => "show_drawing", :id => c.id %>
    </li>
    <% end %>
  </ul>
</div>

<br><br>

<center>
 <h6>
	 Created by Nick Powell
	</h6>
</center>