<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :name %>
    <%= f.text_field :name %> <p>

    <%= f.label :subcategory_id %>
    <%= f.select :subcategory_id, Subcategory.all.collect {|c| [c.name, c.id]} %> <p>

    <%= f.label :skill_id %>
    <%= f.select :skill_id, Skill.all.collect {|c| [c.name, c.id]} %> <p>

      <%= f.label :url %>
    <%= f.text_field :views %> <p>	

	<%= f.submit %>
	<br />
  </div>
<% end %>
